* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    color: var(--text-color)
}

a, ul, li {
    text-decoration: none;
    list-style: none
}

.active {
    border-bottom: solid .25rem var(--text-color)
}

body {
    background-color: var(--background-color);
}

header, footer, nav {
    background-color: var(--navbar-bg);
    font-weight: bold
}

.grid {
    display: grid;
    gap: 1rem
}

.grid-justify-center {
    justify-items: center;
    align-items: center
}

.grid-col3, .grid-col3-justify-center {
    grid-template-columns: repeat(3, 1fr)
}

.grid-col3-justify-center {
    justify-items: center;
    align-items: center
}

#welcome_page, #error_page {
    text-align: center;
    margin: 0 auto
}

#error_page > div > i {
    font-size: -webkit-xxx-large
}

.flex {
    display: flex;
    gap: 1rem
}

.flex-end {
    justify-content: flex-end
}

.icon {
    padding: 1rem
}

.card {
    background-color: var(--card-bg);
    border-radius: .5rem;
    text-align: justify;
    transition: 0.3s;
}

.card:hover {
    cursor: pointer;
}

.card-header, .card-footer {
    background-color: var(--navbar-bg);
    align-content: center;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem
}

.card-title, .card-subtitle {
    font-weight: bold;
}

.card-subtitle {
    font-size: 1.125rem;
    padding-bottom: .25rem
}

.card-body {
    padding: .5rem 1rem;
    font-size: 1rem;
}

.card-small { 
    width: 18rem;
}
.card-medium { 
    width: 22rem;
}
.card-large { 
    width: 26rem;
}
.card-extra-large { 
    width: 30rem;
}

.container {
    width: calc(100vw - 10rem);
    margin: 0 auto;
}

@media screen {
    
}