* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    color: var(--text-color)
}

a, ul, li {
    text-decoration: none;
    list-style: none
}

.active {
    border-bottom: solid .25rem var(--text-color)
}

body {
    background-color: var(--background-color);
    min-width: 31.25rem;
}

header, footer, nav {
    background-color: var(--navbar-bg);
    font-weight: bold
}

.grid {
    display: grid;
    gap: 1rem
}

.grid-justify-center {
    justify-items: center;
    align-items: center
}

.grid-col2 {
    grid-template-columns: repeat(2, 1fr)
}

.grid-col3 {
    grid-template-columns: repeat(3, 1fr)
}

#error_page, .error_page {
    text-align: center;
    margin: 0 auto
}

#error_page, .error_page {
    height: 80vh;
    margin: auto auto
}

#error_page > div > i {
    font-size: -webkit-xxx-large
}

.flex {
    display: flex;
    gap: 1rem
}

.flex-end {
    justify-content: flex-end
}

.icon {
    padding: 1rem
}

.card {
    background-color: var(--card-bg);
    border-radius: .5rem;
    text-align: justify;
    transition: 0.3s;
}

.card:hover {
    cursor: pointer;
}

.card-header, .card-footer {
    background-color: var(--navbar-bg);
    align-content: center;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem
}

.card-title, .card-subtitle {
    font-weight: bold;
}

.card-subtitle {
    font-size: 1.125rem;
    padding-bottom: .25rem
}

.card-body {
    padding: .5rem 1rem;
    font-size: 1rem;
}

.card-small { 
    width: 18rem;
}
.card-medium { 
    width: 22rem;
}
.card-large { 
    width: 26rem;
}
.card-extra-large { 
    width: 30rem;
}

.container {
    width: 85vw;
    margin: 0 auto;
}

.dropdown {
    position: realtive;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--navbar-bg);
    min-width: 10rem;
    box-shadow: 0 .125rem .25rem 0 var(--text-color);
    z-index: 1
}

.dropdown-action {
    text-decoration: none;
    display: block
}

.dropdown-action:hover {
    opacity: .7
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn, .dropdown-btn, .dropdown-action {
    display: block;
    color: var(--text-color);
    font-weight: bold;
    padding: .5rem .75rem
}

.profile-img {
    min-width: 6.25rem; /* 100px */
    max-width: 15.625rem; /* 250px */
}

.toogle-desktop {
    display: block
}
.toogle-movil {
    display: none
}

@media screen {
    
}