* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    color: var(--text-color)
}

body {
    background-color: var(--background-color);
}

header, footer, nav {
    background-color: var(--navbar-bg);
    font-weight: bold
}

.grid {
    display: grid;
    gap: 1rem
}

.grid-justify-center {
    justify-items: center;
    align-items: center
}

.grid-col3, .grid-col3-justify-center {
    grid-template-columns: repeat(3, 1fr)
}

.grid-col3-justify-center {
    justify-items: center;
    align-items: center
}