:root {
    --background-color: #E7ECEF;
    --text-color: #272932;
    --navbar-bg: #ffffff;
    --container: 82.5rem
}

[data-theme="dark"] {
    --background-color: #272932;
    --text-color: #E7ECEF;
    --navbar-bg: #000000
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap");