.welcome {
    margin-top: 2rem;
}
.grid {
    gap: 0 !important;
}

.welcome-profile {
    grid-column: 1;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.welcome-profile img {
    border-radius: .5rem;
    display: block;
    margin: 0 auto;
}

.welcome-content {
    grid-column: 2/4;
}

.card-extra-large, .welcome-content {
    width: 100% !important;
}

.dropdown-content i {
    margin-right: .5rem
}

.toogle-movil {
    position: relative;
    right: -2rem;
}